{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

{% load static wagtailuserbar menu_tags %}
{% get_menu "main" as navigation %}

{% load wagtailcore_tags wagtailimages_tags %}

	<div class="left_content">
	    <header>
	        <div class="menu_section">
	            <select id="menu" name="menu" onchange="javascript:handleMenu(id, this)">
	                <option disabled selected value></option>
	                {% for item in navigation.menu_items.all %}
	                <option value="{{ item.title }}">{{ item.title }}</option>
	                {% endfor %}
	            </select>
	        </div>
	    </header>
	    
	  	<div class="images_pg main_index_style">
            {% for index in image_entries %}
                    <div onclick="slideIndex_drawer(this, '{{index.url}}')" id="{{ index.url }}" class="index_entry">
                        <div class="sm num"><p>{{ index.autoincrement_num }}</p></div>
                        {% for loop_cycle in index.images_list.all %}
                            {% image loop_cycle.images fill-120x120 as img %} 
                            {% if loop_cycle.images is None %}
                            {% else %}
                                <img src="{{ img.url }}" alt="{{ img.alt }}" onclick="enlarge_img(this)">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="index_drawer closed">
                        <div class="drawer_content">
                            <div class="sm"><p>{{ index.autoincrement_num }}</p></div>
                            <div class="sm"><p>{{ index.pub_date }}</p></div>
                            <div class="lg"><p>{{ index.title }}</p></div>
                            <div class="md"><p>{{ index.author_founder }}</p></div>
                            <p>{{ index.about|richtext }}</p>
                            {% if index.contributed_by != None %}
                            <p>{{ index.contributed_by }}</p>
                            {% endif %}
                            <p class="external_links">
                                {% if index.external_link != None %}
                                <a href="{{index.external_link}}" target="_blank">{{ index.external_link }}</a>
                                {% endif %}
                                {% if index.external_link_two != None %}
                                <a href="{{index.external_link_two}}" target="_blank">{{ index.external_link_two }}</a>
                                {% endif %}
                            </p>
                            {% if index.location != None %}
                            <p>{{ index.location }}</p>
                            {% endif %}
                            <p>
                                {% for cat in index.categories.all %}
                                    <a href="{{ post.specific.get_parent.url }}/tag/{{ cat.slug }}">{{ cat.name}}</a>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
       
    	</div>


   	</div>
{% endblock %}
