{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags cache %}


{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

    <div class="left_content">
        <header>
            <div class="menu_section">
                <select id="menu" name="menu" onchange="javascript:handleMenu(id, this)">
                    <option disabled selected value></option>
                    {% for item in navigation.menu_items.all %}
                    <option value="{{ item.title }}">{{ item.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </header>
        <div class="search_pg">
            <form action="{% url 'search' %}" method="get">
                <input type="text" placeholder="enter search term" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                <!-- <input type="submit" value="Search" class="button"> -->
                <input type="submit" style="display: none" />
            </form> 

            <div id="categories_list">
                {% for cat in search_categories %}
                <input type="radio" name="categories_search_pg" value="{{ cat.slug }}" onclick="collection_url('{{cat.slug}}')">
                <label for="{{ cat.slug }}">{{ cat.name }}</label><br>
                {% endfor %}
            </div>

            {% if search_results %}
                {% for result in search_results %}
            <div id="search_list" class="main_index_style">
                    <div class="index_entry" onclick="slideIndex_drawer(this, '{{result.slug}}')" id="{{result.slug}}">
                        <div class="sm num"><p>{{ result.autoincrement_num }}</p></div>
                        <div class="sm"><p>{{ result.pub_date }}</p></div>
                        <div class="lg"><p>{{ result.title }}</p></div>
                        <div class="md"><p>{{ result.author_founder }}</p></div>
                    </div>
                    <div class="index_drawer closed">
                        <div class="drawer_content">
                            <p>{{ result.about|richtext }}</p>
                            {% if result.contributed_by != None %}
                            <p>{{ result.contributed_by }}</p>
                            {% endif %}
                            <p class="external_links">
                                {% if result.external_link != None %}
                                <a href="{{result.external_link}}" target="_blank">{{ result.external_link }}</a>
                                {% endif %}
                                {% if result.external_link_two != None %}
                                <a href="{{result.external_link_two}}" target="_blank">{{ result.external_link_two }}</a>
                                {% endif %}
                            </p>
                            {% if result.location != None %}
                            <p>{{ result.location }}</p>
                            {% endif %}

                            {% for loop_cycle in index.images_list.all %}
                                {% image loop_cycle.images fill-120x120 as img %} 
                                {% if loop_cycle.images is None %}
                                {% else %}
                                    <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}" onclick="enlarge_img(this)">
                                {% endif %}
                            {% endfor %}
                            <p>
                            {% for cat in index.categories.all %}
                                <a href="{{ post.specific.get_parent.url }}/tag/{{ cat.slug }}">{{ cat.name}}</a>
                            {% endfor %}
                            </p>



                        </div>
                    </div>  
                    {% if result.search_description %}
                        {{ result.search_description }}
                    {% endif %}
                {% endfor %}

                {% if search_results.has_previous %}
                    <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
                {% endif %}

                {% if search_results.has_next %}
                    <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
                {% endif %}
            {% elif search_query %}
                No results found
            {% endif %}
        </div>
    </div>
{% endblock %}
