@font-face {
      font-family: 'arial_lc_symbol_regularRg';
      src: url('Arial_LC_Symbol_v7-yoti.woff2') format('woff2'),
               url('Arial_LC_Symbol_v7.otf') format('otf');
      font-weight: normal;
      font-style: normal;
}
.cr { 
    font-family: 'arial_lc_symbol_regularRg';
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga", "clig";
    -webkit-font-feature-settings: "liga", "clig";
    font-feature-settings: "liga", "clig";
}

body,html {
	margin: 0;
  font-size: 1.5vw;
  font-family: Arial, sans-serif;
}
select, button {
  font-size: 1.5vw;
  font-family: Arial, sans-serif;
  padding: 5px;
}
#main_content {
  margin:0;
  padding: 0;
  overflow: hidden;
}
.left_content {
  width: 100%;
  display: inline-block;
  height: 100vh;
  margin:0;
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#right_content {
  width: 27%;
  margin:0;
  display: inline-block;
  float: right;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
}
#right_content.unopened {
  width: 0%;
  display: none;
}
.sm.num {
  font-family: Arial, sans-serif;
}
.images_pg .index_entry {
  padding: 10px 0;
}
.images_pg .drawer_content div {
  display: inline-block;
}
.images_pg .img_container p {
  display: none;
  font-size: 0.8vw;
  margin-top: 0;
}
.images_pg img {
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  max-width: 250px;
}
.search_pg {
  margin: 85px 0 50px;
}
.search_pg #categories_list {
  margin: 40px 0;
  padding: 0 20px;
  columns: 900px 4;
}
.search_pg form {
  padding: 0 20px;
}
.search_pg form input {
  width: 99.5%;
  font-size: 1.5vw;
  padding: 5px;
}
p.no_results {
  margin-left: 20px;
}
.collections_pg, .images_pg {
  margin: 100px 0 50px;
  height: 100%;
}
.collections_pg #curator_list {
  margin: 0 20px;
}
#collections_list {
  margin-top: 30px;
}
#index_list {
  margin-top: 95px;
  margin-bottom: 60px;
}
.main_index_style .arrows div {
  display: inline-block;
}
.loading.main_index_style .index_entry:hover, #index_list.loading .index_entry.arrows .sm:hover, #index_list.loading .index_entry.arrows .md:hover, #index_list.loading .index_entry.arrows .lg:hover {
  text-shadow: 0 0 16px #00ff00 !important;
  color: transparent !important;
}
.loading2.main_index_style .index_entry:hover, #index_list.loading2 .index_entry.arrows .sm:hover, #index_list.loading2 .index_entry.arrows .md:hover, #index_list.loading2 .index_entry.arrows .lg:hover {
  text-shadow: 0 0 16px #00ff00 !important;
  color: transparent !important;
}
.main_index_style .arrows a:hover, .main_index_style .arrows a:active {
  color: #00ff00 !important;
}
.green_text {
  color: #00ff00 !important;
}
.main_index_style .index_entry:hover.arrows {
  color: #000;
  background: #fff;
}
#index_list .index_entry.arrows .sm:hover, #index_list .index_entry.arrows .md:hover, #index_list .index_entry.arrows .lg:hover {
  color: #00ff00;
}
.main_index_style .index_entry {
  width: 100%;  
  display: inline-block;
}
.main_index_style .index_entry div {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
.main_index_style .index_entry div p {
  margin: 5px 0;
}
.main_index_style .sm {
  width: 7%;
}
.main_index_style .sm.num {
  padding-left: 20px;
}
.images_pg.main_index_style .sm {
  width: 0;
}
.main_index_style .lg {
  width: 60%;
  word-break: break-word;
}
.main_index_style .md {
  width: 18%;
}

.main_index_style .index_entry:hover {
  color: #00ff00;
  cursor: pointer;
}
.index_drawer {
  color: #00ff00;
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .3s;
  height: 100%
}
.index_drawer .cr:hover {
  color: #00ff00;
}
.index_drawer a {
  color: #00ff00;
}
.index_drawer .img_section {
  height: 100%;
}
.index_drawer .img_container img {
  cursor: pointer;
  height: 100px;
}
.index_drawer .img_container {
  display: inline-block;
}
.index_drawer .img_container p {
  font-size: 0.8vw;
  display: none;
  margin-top: 0;
}
.enlarge_img {
  height: 220px !important;
}
.index_drawer .external_links a {
  display: block;
  word-break: break-all;
}
.index_drawer .drawer_content {
  padding: 20px;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.index_drawer .drawer_content p:first-child {
  margin-top: 0;
}
.index_drawer .drawer_content p:last-child {
  margin-bottom: 0;
}
.index_drawer.closed {
  max-height: 0;
}
.index_drawer .drawer_content.mobile {
  display: none;
}

#trail_container {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 20px 0 15px;
}
#trail_container #download_btn {
  font-size: .85vw;
  vertical-align: top;
  float: left;
  width: 100%
}
#trail_container span {
  font-size: .85vw;
  display: inline-block;
  background: white;
  padding: 0 3px 0 0;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="30" style="font-size: 20px;"><text y="15">×</text></svg>'), auto;
}
#trail_container #trail_list {
  margin-left: 5px;
}
#trail_container #trail_list tr {
  font-size: .85vw;
}


#base_index_list td, #base_index_list th {
  padding: 3px 1px;
  overflow: hidden;
  text-overflow: ellipsis;
} 
#base_index_list td p {
  margin: 0;
}
#base_index_list thead,
tbody,
tr {
  display: contents;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: left;
}
#base_index_list {
  font-size: 0.8vw;
}
#base_index_list tr.base_tr:hover {
  color: #00ff00;
  /*cursor: pointer;*/
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="30" style="font-size: 20px;"><text y="15">×</text></svg>'), auto;

}
#base_index_list table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 
  minmax(30px, .2fr)
  minmax(30px, .2fr)
  minmax(135px, 3fr)
  minmax(100px, 1fr)
}


header {
	margin: 20px 0 30px 0;
	width: inherit;
  position: fixed;
  text-align: center;
}
header .menu_section {
	/*width: 95.5%;*/
  width: calc(100% - 40px);
  display:inline-block;
  height: 100%;
}
header #menu {
	box-shadow: 1px 1px 10px 1px #00ff00;
  width: 100%;
}
header #menu select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: rgb(248, 248, 248);
    cursor: default;
    margin: 0em;
    font: 400 11px system-ui;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
    border-image: initial;
}
header #menu.with_tag {
  /*width: 82%;*/
}
header #menu.with_about {
  width: 92%;
}
header #tag_btn {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
header #tag_btn button {
  font-size: 1.5vw;
  padding: 5px 5px;
}
header #tag_btn button:hover {
  cursor: pointer;
}
header #tag_btn button span {
  font-size: 1vw;
  vertical-align: middle;
}
#categories_section {
	width: 100%;
	display: inline-block;
}
#about_buttons {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
#about_buttons button {
  float: left;
  margin-right: 10px;
}
#about_form {
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;
}
#about_form input {
  width: 100%;
}
#about_form p {
  color: #aeaeae;
  font-size: 1.2vw;
}
#about_form.closed {
  max-height: 0;
  display: none;
}
#about_form p#about_form_submitted {
  display: none;
}
p a.cr {
  text-decoration: none;
  color: black;
}


.internal_pg_container {
  margin: 100px 20px 50px;
  height: 100%;
}

.img_sq {
  display: inline-block;
  cursor: pointer;
}

.back_to_top {
  padding: 7px 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.loading {
  text-shadow: 0 0 8px #00ff00;
  color: transparent;
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.15, 0.1, 0.15, 1);
}
.loading2 {
  text-shadow: 0 0 16px #00ff00;
  color: transparent;
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.15, 0.1, 0.15, 1);
}
.loading3 {
  text-shadow: 0 0 12px #00ff00;
  color: transparent;
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.15, 0.1, 0.2, 1);
}
#sorting_text {
  position: absolute;
  color: #00ff00;
  left: 37%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: none;

}

.tooltip:hover:after { content: attr(title); } 
.tooltip {
  position: relative;
  color: #00ff00;
  -webkit-transition: all 500ms ease-in-out;
}
.tooltip:hover:after { 
    background: #00ff00;
    box-shadow: 0px 0px 10px 10px #00ff00;
    position: absolute;
    top: -30px;
    width: 110px;
    margin-left: -5px;
    color: white;
    font-size: 1vw;
    font-family: "arial";
    opacity: 0;
    text-align: center;
    -webkit-transition: all 200ms ease-in-out;
    z-index: 10;
} 


 
#green_box {
  height:1px;
  background: linear-gradient(90deg, rgba(0,255,0,0.4514180672268907) 0%, rgba(0,255,0,0.4514180672268907) 35%);
}
#green_box.extend_green {
  box-shadow: 1px 1px 800px 20px #00ff00;
}
#green_box.extend_green_two {
  height: 6px;
  box-shadow: 1px 1px 2000px 50px #00ff00;
}
#green_box.extend_green_three {
  height: 6px;
  box-shadow: 1px 1px 3000px 80px #00ff00;
}





::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}



@media (min-width: 300px) and (max-width: 800px) {
  body, select, button {
    font-size: 3.5vw;
  }
  .left_content {
    width: 100%;
  }
  #right_content {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 150px;
    float: none;
  }
  #index_list {
      margin-top: 80px;
  }
  #trail_container span {
    font-size: 2vw;
  }
  .main_index_style .lg {
    width: 55%;
  }
  .main_index_style .md {
    width: 18%;
    word-wrap: break-word;
  }
  .main_index_style .sm {
    width: 9%;
  }
  .enlarge_img {
    width: 100%;
  }
  .index_drawer .img_container p, .images_pg .img_container p {
    font-size: 3vw;
  }

}

